* {
    font-family: 'Genos', sans-serif;
}

.nvl{
    width: 150px;
}
.navb{
    padding: 8px;
    display: flex;
    align-items: center;
    max-width: auto;
    background-color: rgba(207, 204, 200, 0.253);
    border-radius: 1rem;
}
/*.links .separador{
    text-decoration: none;
    color: rgb(83, 79, 79);
    padding: 10%;
}*/
.links{
    margin-left: 1.5%;
}
.btn_nav{
    border-radius: 1em;
    margin-left: auto;
}